body {
  margin: 0;
  text-align: center;
  font-family: verdana, sans-serif;
}

h1 {
  margin-top: 0;
}

.top-container {
  background-color: #EEEEEE;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #FFF1DC;
}

.middle-container img {
  width: 200px;
  border-radius: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.first {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.second {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.image2 {
  width: 25%;
}

.tagline {
  margin-top: 0;
}

.myName {
  margin-bottom: 5px;
}

.skill-row {
  display: inline-block;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
